/* shared styles */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

.desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400px;
    margin: 20px 0px;
}

.main-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800px;
}

.btn {
    padding: 18px 35px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700px;
    cursor: pointer;
}

/* header section styles */

/* header container styles */

.header-container {
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 150px 0px 180px;
}

.header-info {
    width: 450px;
    margin-right: 120px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800px;
}

.header-img {
    width: 635px;
    height: 100vh;
}

/* main section styles */

/* feature container styles */

.feature-container {
    text-align: center;
    margin: 120px 200px;
}

.desc-width {
    width: 590px;
    margin: 20px auto 40px auto;
}

.feature-flower-list {
    display: flex;
    justify-content: space-between;
}

.feature-flower {
    width: 260px;
    height: 350px;
    padding: 50px 45px 0px 45px;
    border-radius: 300px 300px 0px 0px;
    cursor: pointer;
}

.flower-1 {
    background: rgba(167, 33, 98, 0.15);
}

.flower-2 {
    background: rgba(5, 151, 160, 0.15);
    height: 326px;
    padding-bottom: 25px;
}

.flower-3 {
    background: rgba(71, 125, 17, 0.15);
}

.feature-cap {
    margin-top: 10px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700px;
    cursor: pointer;
    color: rgba(39, 39, 39, 1);
    text-align: center;
}

.img-name {
    color: #272727;
}

/* special feature styles */

.special-feature-container {
    text-align: center;
    margin: 0px 200px 120px 200px;
    display: flex;
    justify-content: space-around;
}

.sepecial-feature-left,
.sepecial-feature-right {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 5px;
    padding: 20px 30px;
    width: 50%;
}

.sepecial-feature-left {
    background-color: rgba(71, 125, 17, 0.15);
    margin-right: 20px;
}

.special-feature-info {
    text-align: left;
}

.top-stuff {
    color: #7FB036;
    margin-bottom: 5px;
}

.special-feature-img {
    width: 120ox;
    height: 180px;
}

/* support container styles */

.support-container {
    margin: 0px 200px 120px 200px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    text-align: center;
}

.support-desc {
    margin-bottom: 0px;
}

/* banner container styles */

.banner-container {
    background: rgba(229, 84, 115, 0.05);
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info {
    width: 440px;
    margin-right: 180px;
    text-align: center;
}

.red {
    color: #E55473;
}

.banner-img {
    width: 240px;
}

/* insta container styles */

.insta-container {
    margin: 120px 170px;
    text-align: center;
}

.insta-img {
    width: 270px;
    padding-right: 10px;
}

.insta-desc {
    width: 440px;
    margin: 20px auto;
}

/* subscribe container styles */
.subscribe-container {
    margin: 0px 200px 120px 200px;
    background: url('./asset/Rectangle\ 9.png');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}

.subscribe-info {
    padding: 100px;
}

.email {
    padding: 18px 370px 18px 18px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

/* footer section styles */

/* footer container styles */
.footer-container {
    text-align: center;
    background-color: #111010;
    padding: 110px 500px;
}

.footer-title {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 800;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.90);
}

footer small {
    color: rgba(255, 255, 255, 0.4);
}